@font-face
{
    font-family: 'Muller';
    font-family: 'Muller-Bold';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}

@font-face
{
    font-family: 'Muller';
    font-family: 'Muller-Light';
    src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}

@font-face
{
    font-family: 'Muller';
    font-family: 'Muller-Medium';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 500;
}

@font-face
{
    font-family: 'Muller';
    font-family: 'Muller-Regular';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

strong
{
    font-weight: bold;
}

.grey
{
    color: #797979;
}

.big
{
    font-size: x-large;
    font-family: 'Muller-Bold';
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Muller', sans-serif;
    background-color: #f1f1f1;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    color: #d1a54c;
  }

ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

img 
{
    max-width: 100%;
}

h2
{
    font-size: 30px;
}

p
{
    line-height: 25px;
}

.container
{
    max-width: 1168px;
    margin-right: 376px;
    margin-left: 375px;
    padding-left: auto;
    padding-right: auto;
}

.btn
{
    display: inline-block;
    padding: 15px 25px;
    line-height: 1;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: #3172b9;
    border-radius: 4px;
    cursor: pointer;
}

.text-center
{
    align-items: center;
}

/* Header */

.heading-top
{
    display: flex;
    max-height: 54px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.header-left-telephone
{
    margin-left: 25px;
    font-size: 20px;
}

.heading-tel
{
    color: #8b8b8b;
}
.header-right
{
    margin-left: auto;
    margin-right: 10px;
}

.heading-bottom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border-radius: 10px;
    background-color: white;

}

.heading-bottom-box
{
    margin-right: 0;
    margin-left: 15px;
    padding-left: 20px;
    min-width: 340px;
    height: 45px;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f1f1f1;
}

.heading-nav-list
{
    display: flex;
}
.heading-nav-item:not(:first-child)
{
    margin-left: 20px;
}

.heading-nav-link
{
    margin-left: 20px;
    color: black;
}

.btn-search
{
    margin-right: 15px;
    margin-left: 0;
    height: 45px;
    min-width: 25px;
    background-image: url(../img/поиск.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    background-color: #f1f1f1;
}
/* INFO */

.info-container
{
    display: flex;
    justify-content: space-between;
    height: 612px;
    margin-top: 65px;
}

.section-booking
{
    width: 530px;
}

.section-form-item
{
    margin-top: 25px;
    padding-left: 20px;
    min-width: 520px;
    min-height: 65px;
    border: 0;
    border-radius: 10px;
}

.section-form-item:nth-child(5)
{
    margin-bottom: 25px;
}

.section-btn-submit
{
    padding: 25px;
    border: 0;
    border-radius: 10px;
    background-color: #cc9933;
    color: white;
}

.section-info-request
{
    margin-left: 30px;
    color: #bcbcbc;
}

.info-request-color
{
    color: #cc9933;
}

.section-sale
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 590px;
    height: 527px;
    border-radius: 10px;
    padding: 0 216px 40px 40px;
    background-image: url(../img/22.png);
}

.section-sale-price
{
    margin-right: 40px;
    color: #898583;
}
.section-sale-heading-box
{
    margin-bottom: 0;
    font-size: 50px;
    color: white;
}

/* section-description */

.description-container
{
    padding-left: 40px;
    margin-top: 65px;
}

.section-description-text
{
    color: #797979;
}

/* section-services */

.section-services
{
    margin-top: 60px;
}

.section-services-list
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.section-services-item
{
    width: 560px;
    height: 325px;
    margin-top: 25px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
}

/* ADVANT */

.advant-container
{
    height: 655px;
    margin-top: 60px;
}

.section-adv-list
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-adv-item
{
    display: flex;
    flex-wrap: wrap;
    height: 280px;
    max-width: 280px;
    border-radius: 10px;
    margin-top: 25px;
    padding: 40px;
    background-color: white;
}

/* PLACING */
.placing-section
{
    margin-top: 60px;
    height: 1450px;
}

.section-placing-list
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-placing-item
{
    margin-top: 25px;
    height: 440px;
    width: 370px;
    border-radius: 10px;
    background-color: white;
}

.placing-item-text
{
    margin-left: 40px;
}

.section-placing-item:nth-child(9)
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 55px;
    background-image: url(../img/2-9.png);
}

.item-text-variants
{
    margin-bottom: auto;
    color: white;
}

/* CONTACTS */

.contacts-container
{
    display: flex;
    min-height: 690px; 
    margin-top: 65px;
}
.contacts-adress-info
{
    padding: 45px;
    border-radius: 10px;
    background-color: white;
}
.contacts-adress
{
    max-width: 472px;
    min-height: 620px;
    margin-right: 180px;
}

.conacts-info
{
    display: flex;
}

.contacts-details
{
    margin-left: 40px;
}


.section-placing-btn
{
    border-color: #cc9933;
    color: red;
}

.contacts-request
{
    width: 390px;
}

.contacts-question-item
{
    min-width: 380px;
    height: 70px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-top: 5px;
    border: 0;
    border-radius: 10px;
}

.services-link-main
{
    padding: 10px 90px 40px 40px;
}

.contacts-question-btn
{
    min-width: 380px;
    height: 70px;
    border: 0   ;
    border-radius: 10px;
    background-color: #cc9933;
    color: white;
}
/* Footer */
    footer
{
    height: 340px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.footer-container
{
    display: flex;
    justify-content: space-between;
    padding: 40px 48px 50px 48px;
    line-height: 20px;
    margin-bottom: 55px;
    border-radius: 10px;
    background-color: #333333;
    background-image: url(../img/Слой.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: 728px;
    background-position-y: bottom;
    color: #e4e4e4;
}

.footer-info
{
    max-width: 300px;

}

.footer-info-law
{
    margin-top: 40px;
}

.footer-info-politicaly
{
    margin-top: 40px;
}

.footer-address
{
    max-width: 370px;
}

.footer-address-number
{
    margin-top: 40px;
}

.footer-address-mail
{
    margin-top: 40px;
}

.footer-social
{
    margin-top: 16px;
}
.footer-social-icon
{
    line-height: 2.5em;
}